* {
    font-family:'Aktiv Grotesk';

}

h1 {
    
    font-size:110px;
    font-weight:bold;
    color:darkolivegreen;
    text-align:center;
    padding-bottom:10px;

}

th {
    width: 100px;

}

.header {
    font-size:72px;
    margin-left:auto;
    margin-right:auto;

}

#news {
    color:saddlebrown;
    margin-right:35px;

}

#about {
    color: tan;
    margin-left: 35px;
    margin-right: 35px;
}

#contact {
    color: darkkhaki;
    margin-left: 35px;
}

img {
    width:280px;

}
