* {
    font-family:'Aktiv Grotesk';
}

h1 {
    
    font-size:110px;
    font-weight:bold;
    color:darkolivegreen;
    text-align:center;
    margin-bottom:10px;

}

table {
    width: 1000px;
    table-layout:fixed;
    
}

th, td {
    padding:10px;
    
}

.header {
    font-size:72px;
    margin-left:auto;
    margin-right:auto;

}

#news {
    color:saddlebrown;
}

#about {
    color: tan;
    padding-left:auto;
    
}

#contact {
    color: darkkhaki;
    text-align:right;
    padding-right:1px;

}

img {
    width:280px;

}
