* {
    font-family: Arial;
    background-color: tan
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin-top: 125px;
}

h1 {
    font-family: Verdana;
    font-size: 110px;
    font-weight: bold;
    color: saddlebrown;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 35px;
    text-shadow: 0px 4px navajowhite;
}

table {
    width: 1000px;
    table-layout: fixed;
    padding-bottom: 30px;
}

th, td {
    padding: 10px;
}

.header {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: peru;
    text-shadow: 0px 2px moccasin
}

#news {
    border-right: 2px dashed saddlebrown;
}

#about {
    padding-left: 1px;
    border-right: 2px dashed saddlebrown;
}

#contact {
    text-align: right;
    padding-right: 60px;
}

img {
    width: 450px;
    border: 10px outset peru;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
}

.aboutus {
    margin: 25px 25px;
    text-align: center;
}


.updates {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto;
    background: moccasin;
    border-bottom: 2px dashed saddlebrown
}

h5 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 10px;
    font-size: 20;
    background: moccasin;
}

.uptext {
    background: moccasin;
    padding: 0 25;
}

.main {
    display: inline-block;
    width: 1000px;
    text-align: center;
    margin-right: auto;
    display: inline;
}

.maintext {
    margin-right: 25px;
    margin-bottom: 25px;
}
